body {
  background-image: url(/back.png);
  background-size: cover;
  height: 800px;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  width: 300px;
  resize: none;
  border-radius: 10px;
  border: 10pxx;
  border-color: rgb(0, 0, 255);
}
.inputIncrement {
  width: 300px;
  border-radius: 50px;
  margin-top: 5px;
}

.H1 {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: white;
}
.cfc {
  color: white;
}
.bsd {
  color: white;
}
/* 
.container1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 350px;
  height: 150px;
  background: linear-gradient(0, #120c56, #000000);
} */

button{
  border-radius: 50px;
  padding: 5px;
  margin-top: 10px;
  background-color: white;
 font-style: italic;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}